 
 /* 
 1. posicionamiendo
 2. modelo de caja
 3. tipografia
 4. visual
 5. miselaneos u otros
 */

 :root{
/* colores */

 --bitcoin-orange: #f7931a;
 --soft-orange: #ffe9d5;
 --secondary-blue: #1a9af7;
 --soft-blue: #e7f5ff;
 --warm-black: #282623;
 --black: #201e1c;
 --grey: #bababa;
 --off-white: #faf8f7;
 --just-white: #fff;

 }
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 html{
   font-size: 62.5%;
   font-family: 'DM Sans', sans-serif;

 }
 header{
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   min-width: 32rem;
   height: 33.4rem;
   text-align: center;
   background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

 }
 header img{
   width: 15rem;
   height: 2.4rem;
   margin-top: 6rem;
   /* para alinear un hijo con un padre que tiene flex */
   align-self: center;
 }
 .header--tittle-container{
   width: 90%;
   min-width: 28.8rem;
   max-width: 90rem;
   height: 21.8rem;
   margin-top: 4rem;
   text-align: center;
   align-self: center;
   margin-bottom: 3.2rem;
 }
 .header--tittle-container h1{
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
  margin-bottom: 2.4rem;

 }
 .header--tittle-container p{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);

 }
 .header--tittle-container .header--button{
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.823rem;
  background-color: var(--off-white);
  color: var(--warm-black);

  position: absolute;
  display: block;
  padding: 1.6rem;
  /* top: calc(100% - 2.4rem);
  left: calc(50% - 10rem); */

  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* sombras */

  box-shadow: 0 4px 8px rgba(96, 68, 72, 0.16);
  border-radius: 0.5rem;

 }

 .header--tittle-container .header--button span{
  display: inline-block;
  padding: 0.4rem;
  background-image: url('Assets/icons/down-arrow.svg');
  width: 1.2rem;
 }